#statusBarContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}

#statusBarLeft {
  width: 13px;
  height: 52px;
  background-image: url("http://localhost:3000/src/components/img/status_left.png");
}

#statusBarRight {
  width: 96px;
  height: 52px;
  background-image: url("http://localhost:3000/src/components/img/status_right.png");
}

#compass {
  margin-top: 2px;
  margin-left: 13px;
  width: 49px;
  height: 49px;
  background-image: url("http://localhost:3000/src/components/img/compass.png");
}

.bar {
  box-sizing: border-box;
  height: 7px;
}

.healthBar {
  background-color: #a12;
  border: 1px solid #e88;
  border-right: 1px solid #200;
  border-bottom: 1px solid #300;
}

.manaBar {
  background-color: #249;
  border: 1px solid #8ae;
  border-right: 1px solid #013;
  border-bottom: 1px solid #012;
}

.expBar {
  background-color: #a92;
  border: 1px solid #ed8;
  border-right: 1px solid #320;
  border-bottom: 1px solid #430;
}

.expBarContainer {
  display: inline-flex;
}

.expBlock {
  width: 11px;
  margin-right: 1px;
}
